body {
    background-image: url("/static/codblurred.png");
    background-repeat: no-repeat;
    background-size: 100% 150%;
}

#login {
    margin-top: 100px;
}
main{
    /* center contents */
    text-align: center;
}
